#gameCanvas
{
    height:600px;
    width: 800px;
    /* padding:10px; */
    background:#c6c6c6
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #48c0d8;
}
.black-bomb{
width: 13em;
height: 13em;
font-size: 16px;
position: relative;
margin-top: 3em;
}
.black-bomb *::before,
.black-bomb *::after {
    content: '';
    position: absolute;
}
.head {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #D80030;
    border-radius: 45% 55% 45% 55% / 55% 50% 50% 45%;
    overflow: hidden;
    box-shadow: inset -1em 0.5em 1.5em -0.5em #d8c0a8;
}
.head::before {
    width: inherit;
    height: inherit;
    background-color: #d8c0a8;
    border-radius: inherit;
    top: 76%;
    left: 12%;
}
.eyes::before,
.eyes::after {
    width: 3.4em;
    height: 3.4em;
    background-color: #d8c0a8;
    border-radius: 50%;
    background-image: 
    radial-gradient(circle at var(--left3) 1.7em, 
    rgb(255, 235, 235) 0.1em, 
    transparent 0.1em),
    radial-gradient(circle at var(--left2) 1.6em, 
    black 0.6em, 
    transparent 0.6em),
    radial-gradient(circle at var(--left1) 1.4em, 
    black 1em, 
    transparent 1em);
}
.eyes::before {
    top: 2.7em;
    left: 21%;
    --left1:2em;
    --left2:2.3em;
    --left3:2.4em;
}
.eyes::after {
    top: 2.5em;
    right: 2.5em;
    --left1:1.2em;
    --left2:0.9em;
    --left3:0.8em;
}
.eyebrows::before,
.eyebrows::after{
    width: 5.3em;
    height: 0.8em;
    background: #000000;
}
.eyebrows::before {
    top:2.3em;
    left:1em;
    transform: rotate(10deg);
}
.eyebrows::after {
    top: 2.3em;
    right: -1em;
    transform: rotate(-10deg);
}
.mouth {
    position: absolute;
    width: 3.6em;
    height: 3.6em;
    /* background-color: #fca90d; */
    background-color: #f0c018;
    top: 5em;
    left: 6.4em;
    border-radius: 80% 0 30% 20%;
    transform: rotate(34deg);
    border: 0.1em solid black;
    box-shadow: 
        inset 0 0.5em 0.5em rgba(255,255,255,0.3),
        inset 0.2em -0.5em 1.2em rgba(0,0,0,0.5);
}
.mouth::before {
    width: 2.6em;
    height: 5.7em;
    border: 0.2em solid;
    border-radius: 80% 0 0 16%;
    transform: rotate(35deg);
    top: -1.1em;
    left: 1.4em;
    border-color: transparent transparent transparent black;
}
.hair {
    position: absolute;
    width: 1.4em;
    height: 5em;
    background-color: #0f1110;
    top: -3.8em;
    left: 20%;
    border-radius: 0 0 40% 40% / 0 0 100% 100%;
    transform: rotate(-28deg) skewX(10deg) skewY(-50deg)
}
.hair::before {
    width: 80%;
    height: 1em;
    background-color: #ffc000;
    top: 0.3em;
    left: 10%;
}